.sb-frontmatter-panel {
}
.sb-frontmatter-addon {
}
.sb-frontmatter-code {
    font-size: 12px;
    pre {
        padding: 20px;
    }
}
.sb-frontmatter-copy {
}
.sb-frontmatter-docs {
}
.sb-frontmatter-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 4px;
    border: none;
    padding: 6px 11px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Nunito Sans', -apple-system, Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    float: right;
    margin: 20px;
    background: #dde5ec;
}
.sb-frontmatter-button:hover {
    background: #bdcad6;
}
.sb-frontmatter-button:active {
    background: #bdcad6;
}
