@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.base");
  --on-background: theme("colors.base-content");
  --btn-background: theme("colors.primary");
  --btn-border: theme("colors.primary");
  --on-btn-background: theme("colors.base-content");
  --on-btn-background-alt: theme("colors.base-content");
}

[data-style="style-a"] {
  --background: theme("colors.primary");
  --on-background: theme("colors.base-content");
  --btn-background: theme("colors.base");
  --btn-border: theme("colors.base");
  --on-btn-background: theme("colors.base-content");
  --on-btn-background-alt: theme("colors.base-content");
}

[data-style="style-b"] {
  --background: theme("colors.base");
  --on-background: theme("colors.base-content");
  --btn-background: theme("colors.primary");
  --btn-border: theme("colors.primary");
  --on-btn-background: theme("colors.base-100");
  --on-btn-background-alt: theme("colors.base-content");
}

[data-style="style-c"] {
  --background: theme("colors.base");
  --on-background: theme("colors.base-content");
  --btn-background: theme("colors.accent");
  --btn-border: theme("colors.accent");
  --on-btn-background: theme("colors.base-100");
  --on-btn-background-alt: theme("colors.base-content");
}

[data-style="style-d"] {
  --background: theme("colors.neutral");
  --on-background: theme("colors.neutral-content");
  --btn-background: theme("colors.base");
  --btn-border: theme("colors.base");
  --on-btn-background: theme("colors.base-content");
  --on-btn-background-alt: theme("colors.neutral-content");
}