@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-body text-base text-body;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading font-bold text-headline;
    }
}

@layer components {
    /* Markdown block */
    .sb-markdown {
        line-height: 1.75;
        a {
            @apply underline;
        }
        a:hover {
            @apply no-underline;
        }
        b,
        strong {
            @apply font-bold;
        }
        em {
            @apply italic;
        }
        h1 {
            font-size: 2.25em;
            margin: 1.33333em 0 0.33333em;
            line-height: 1.11111;
        }
        h2 {
            font-size: 1.875em;
            margin: 1.2em 0 0.4em;
            line-height: 1.25;
        }
        h3 {
            font-size: 1.5em;
            margin: 1.5em 0 0.5em;
            line-height: 1.25;
        }
        h4 {
            font-size: 1.25em;
            margin: 1.8em 0 0.6em;
            line-height: 1.25;
        }
        h5 {
            font-size: 1.125em;
            margin: 2em 0 0.66667em;
            line-height: 1.25;
        }
        h6 {
            font-size: 1em;
            margin: 2.25em 0 0.75em;
            line-height: 1.5;
        }
        p {
            margin: 1.125em 0;
        }
        ol {
            @apply list-decimal;
            margin: 1.125em 0;
            padding-left: 1.25em;
        }
        ul {
            @apply list-disc;
            margin: 1.125em 0;
            padding-left: 1.25em;
        }
        li > ul,
        li > ol {
            margin: 0;
        }
        blockquote {
            @apply border-l-4 border-current;
            font-size: 1.125em;
            margin: 1.33333em 0;
            padding-left: 1em;
        }
        pre {
            @apply bg-neutral text-white overflow-x-auto;
            font-size: 0.875em;
            line-height: 1.5;
            margin: 1.71428em 0;
            padding: 1.71428em;
        }
        hr {
            @apply border-t;
            margin: 2.25em 0;
        }
        figure {
            margin: 1.5em 0;
        }
        figcaption {
            font-size: 0.875em;
            line-height: 1.5;
            margin: 0.85714em 0;
        }
        table {
            @apply border border-collapse text-left w-full;
            margin: 1.5em 0;
        }
        th,
        td {
            @apply border-r border-b;
            padding: 0.5em;
        }
        th {
            font-weight: bold;
        }
        h1:first-child,
        h2:first-child,
        h3:first-child,
        h4:first-child,
        h5:first-child,
        h6:first-child,
        h1 + h2,
        h2 + h3,
        h3 + h4,
        h4 + h5,
        h5 + h6,
        p:first-child,
        ul:first-child,
        ol:first-child,
        blockquote:first-child,
        pre:first-child,
        hr:first-child,
        figure:first-child,
        table:first-child {
            margin-top: 0;
        }
    }

    /* Buttons */
    .sb-component-button {
        @apply border-2 font-medium inline-flex items-center justify-center no-underline px-5 py-2.5 text-center tracking-wider transition duration-200 ease-in;
    }

    /* Links */
    .sb-component-link {
        @apply inline-flex items-center justify-center no-underline hover:underline;
    }

    /* Cards */
    a.sb-card {
        @apply transition transform duration-300 hover:-translate-y-1;
    }

    /* Dividers */
    .sb-divider {
        @apply flex items-center h-4 before:flex-grow before:h-px;
    }

    /* Form controls */
    .sb-form-control {
        @apply mb-8;
    }
    .sb-label {
        @apply font-light;
    }
    .sb-input,
    .sb-select,
    .sb-textarea {
        @apply bg-transparent border font-light p-2 text-lg w-full focus:outline-none md:text-xl;
    }
    .sb-checkbox {
        @apply align-middle appearance-none bg-origin-border border border-current cursor-pointer flex-shrink-0 inline-block h-5 select-none w-5 checked:bg-center checked:bg-no-repeat checked:bg-current;
    }
    .sb-checkbox:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
        background-size: 100%;
    }
    .sb-select {
        @apply appearance-none bg-no-repeat cursor-pointer pr-6;
        backgroundimage: linear-gradient(45deg, transparent 50%, currentColor 0), linear-gradient(135deg, currentColor 50%, transparent);
        backgroundposition: calc(100% - 14px) 50%, calc(100% - 8px) 5%;
        backgroundsize: 6px 6px, 6px 6px;
    }

    /* Color palettes */
    .colors-a {
        @apply bg-white text-body;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply text-headline;
        }
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply border-neutral placeholder-neutral;
        }
        .sb-component-button-primary {
            @apply bg-primary border-primary text-neutral hover:bg-opacity-70 hover:border-opacity-70;
        }
        .sb-component-button-secondary {
            @apply border-neutral text-neutral hover:border-opacity-70 hover:text-neutral;
        }
        .sb-divider {
            @apply before:bg-neutral;
        }
        .sb-card {
            @apply bg-secondary;
        }
    }
    .colors-b {
        @apply bg-white text-primary;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply text-primary;
        }
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply border-primary placeholder-primary;
        }
        .sb-component-button-primary {
            @apply bg-primary border-primary text-neutral hover:bg-opacity-70 hover:border-opacity-70;
        }
        .sb-component-button-secondary {
            @apply border-neutral text-neutral hover:border-opacity-70 hover:text-neutral;
        }
        .sb-divider {
            @apply before:bg-primary;
        }
        .sb-card {
            @apply bg-secondary;
        }
    }
    .colors-c {
        @apply bg-neutral text-white;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply text-white;
        }
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply border-white placeholder-white placeholder-opacity-50;
        }
        .sb-checkbox:checked {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
        }
        .sb-component-button-primary {
            @apply bg-primary border-primary text-neutral hover:bg-opacity-70 hover:border-opacity-70;
        }
        .sb-component-button-secondary {
            @apply border-white text-white hover:border-opacity-70 hover:text-white;
        }
        .sb-divider {
            @apply before:bg-white;
        }
        .sb-card {
            @apply bg-neutral;
        }
    }
    .colors-d {
        @apply bg-neutral text-primary;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply text-primary;
        }
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply border-primary placeholder-primary placeholder-opacity-50;
        }
        .sb-checkbox:checked {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
        }
        .sb-component-button-primary {
            @apply bg-primary border-primary text-neutral hover:bg-opacity-70 hover:border-opacity-70;
        }
        .sb-component-button-secondary {
            @apply border-white text-white hover:bg-opacity-70 hover:border-opacity-70;
        }
        .sb-divider {
            @apply before:bg-primary;
        }
        .sb-card {
            @apply bg-neutral;
        }
    }
    .colors-e {
        @apply bg-primary text-body;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply text-headline;
        }
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply border-neutral placeholder-neutral;
        }
        .sb-component-button-primary {
            @apply bg-neutral border-neutral text-white hover:bg-opacity-70 hover:border-opacity-70;
        }
        .sb-component-button-secondary {
            @apply border-neutral text-neutral hover:border-opacity-60 hover:text-neutral;
        }
        .sb-divider {
            @apply before:bg-neutral;
        }
        .sb-card {
            @apply bg-secondary;
        }
    }
    .colors-f {
        @apply bg-secondary text-body;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply text-headline;
        }
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply border-neutral placeholder-neutral;
        }
        .sb-component-button-primary {
            @apply bg-primary border-primary text-neutral hover:bg-opacity-70 hover:border-opacity-70;
        }
        .sb-component-button-secondary {
            @apply border-neutral text-neutral hover:border-opacity-70 hover:text-neutral;
        }
        .sb-divider {
            @apply before:bg-neutral;
        }
        .sb-card {
            @apply bg-secondary;
        }
    }
    .colors-g {
        @apply bg-secondary text-primary;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply text-primary;
        }
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply border-primary placeholder-primary;
        }
        .sb-component-button-primary {
            @apply bg-primary border-primary text-neutral hover:bg-opacity-70 hover:border-opacity-70;
        }
        .sb-component-button-secondary {
            @apply border-neutral text-neutral hover:border-opacity-70 hover:text-neutral;
        }
        .sb-divider {
            @apply before:bg-primary;
        }
        .sb-card {
            @apply bg-secondary;
        }
    }
    .colors-h {
        @apply bg-complementary text-body;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply text-headline;
        }
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply border-neutral placeholder-neutral;
        }
        .sb-component-button-primary {
            @apply bg-neutral border-neutral text-white hover:bg-opacity-70 hover:border-opacity-70;
        }
        .sb-component-button-secondary {
            @apply border-neutral text-neutral hover:border-opacity-70 hover:text-neutral;
        }
        .sb-divider {
            @apply before:bg-neutral;
        }
        .sb-card {
            @apply bg-primary;
        }
    }
    .colors-i {
        @apply bg-complementary-alt text-body;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply text-headline;
        }
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply border-neutral placeholder-neutral;
        }
        .sb-component-button-primary {
            @apply bg-neutral border-neutral text-white hover:bg-opacity-70 hover:border-opacity-70;
        }
        .sb-component-button-secondary {
            @apply border-neutral text-neutral hover:border-opacity-70 hover:text-neutral;
        }
        .sb-divider {
            @apply before:bg-neutral;
        }
        .sb-card {
            @apply bg-secondary;
        }
    }
}
