tbody.docblock-argstable-body {
    box-shadow: none !important;
}
.react-tabs {
    -webkit-tap-highlight-color: transparent;
    font-family: 'Nunito Sans', -apple-system, '.SFNSText-Regular', 'San Francisco', BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    margin-bottom: 40px;
}

.react-tabs__tab-list {
    padding: 0;
}

.react-tabs__tab {
    z-index: 2;
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background: #fff;
    border-color: #ddd;
    color: black;
    border-radius: 5px 5px 0 0;
    background: #fff;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
}

.react-tabs__tab:focus:after {
    content: '';
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}

.react-tabs__tab-panel {
    z-index: 1;
    display: none;
    padding: 20px;
    border: 1px #ddd solid;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0 1px 3px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.react-tabs__tab-panel--selected {
    display: block;
}
